{% extends "base.html" %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block page_content %}
  <div class="container">
    <div class="row">
      <h5 class="display-5">Login to Projectboard</h5>
      <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}

          <br>
          {% if exception %}
            <li>{{exception.detail}}</li>
          {% endif %}
      </div>

      <div class="text-success font-weight-bold">
        {% if msg %}
        <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
          {{msg}}
        </div>
        {% endif %}
      </div>
    </div>


    <div class="row my-5">
      <form method="POST" action="/login">
        <div class="mb-3">
          <label>Email</label>
          <input type="text" required placeholder="" name="username" value="{{username}}" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required placeholder="" value="{{password}}" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}